:root {
    --dark-background: #1F2937;
    --standard-grey: #E5E7EB;
    --standard-white: #FFFFFF;
    --blue-button: #3882F6;
    --standard-tittle: #F9FAF8;
}

@font-face {
    font-family: 'RobotoRegular';
    src: url(/assets/font/Roboto-Regular.ttf) format('truetype');
} 

@font-face {
    font-family: 'RobotoBolder';
    src: url(/assets/font/Roboto-Black.ttf) format('truetype');
    font-weight: bolder;
}

@font-face {
    font-family: 'RobotoLight';
    src: url(/assets/font/Roboto-LightItalic.ttf) format('truetype');
    font-weight: 100;
}

* {
    margin: 0;
    font-family: 'RobotoRegular', sans-serif;
}

.webpage__header {
    background-color: var(--dark-background);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 15em;

}

.webpage__logo {
    width: 20vh;
}

nav {
    text-align: center;
}

.navigation__bar {
    list-style-type: none;
    color: var(--standard-grey);
    padding: 0 0 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.pages__link {
    margin: 0 1em;
    text-decoration: none;
    color: var(--standard-grey);
}

.pages__link:hover {
    color: var(--blue-button);
    border-bottom: 0.1em solid var(--blue-button);
    transition: 300ms;
}

.presantation {
    background-color: var(--dark-background);
    padding: 6em 15em;
    display: flex;
    align-items: center;
}

.tittle__presantation {
    font-size: 48px;
    color: var(--standard-tittle);
    font-family: 'RobotoBolder', sans-serif;
    font-weight: bolder;

}

.text__presantation {
    color: var(--standard-grey);
    font-size: 18px;
}

.sign__up {
    text-decoration: none;
    display: inline-block;
    color: var(--standard-grey);
    background-color: var(--blue-button);
    text-align: center;
    margin-top: 0.5em;
    padding: 0.5em 2.0em;
    border-radius: 0.3em;
    font-family: 'RobotoBolder', sans-serif;
    font-weight: bolder;
}

.img__presantation {
    width: 30vw;
    height: auto;
    box-shadow: 4px 4px 4px #000000;
    margin: 0 20px;
}

.presantation--enemy {
    margin: 3em 0 8em 0;
    padding: 0 12em 0 12em;
}

.tittle__presantation--secondary {
    text-align: center;
    display: block;
    font-size: 36px;
    color: var(--dark-background);
    font-family: 'RobotoBolder', sans-serif;
    font-weight: 800;
}

.presantation--about {
    margin: 3em 0 8em 0;
    padding: 0 12em 0 12em;
    text-align: center;

}

.presantation--content {
    margin: 3em 0 8em 0;
    padding: 0 12em 0 12em;
    text-align: left;
    color: var(--dark-background);
}

.main__image--about {
    width: 480px;
    box-shadow: 4px 4px 4px #000000;
    margin: 0 40px;
}

.main__image--about_emphasis {
    width: 720px;
    box-shadow: 4px 4px 4px #000000;
    margin: 0 60px;
}


.enemy__list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content:center
}

.enemy__list--box {
    text-align: center;
    padding: 3em 1.5em 0 1.5em;
}

.enemy__image {
    width: 200px;
    border-radius: 0.5em;
    border: 0.2em solid var(--blue-button);
    opacity: 0.5;
}

.enemy__image:hover {
    opacity: 1;
    width: 360px;
    transition: 800ms;
}

.citation {
    background-color: var(--standard-grey);
    text-align: center;
    padding: 10em 25em;
}

.text__citation {
    color: var(--dark-background);
    font-size: 36px;
    display: block;
    text-align: left;
    font-family: 'RobotoLight', sans-serif;
    font-style: italic;
}

.text__author {
    font-size: 18px;
    color: var(--dark-background);
    display: block;
    text-align: right;
    font-weight: bold;
}

.product__offer {
    display: flex;
    justify-content:space-around;
    background-color: var(--blue-button);
    margin: 5em 15em 5em 15em;
    padding: 3em 0;
    border-radius: 10px;
    color: var(--standard-white);
}

.product__offer--text {
    font-size: 18px;
}

.text__up {
    font-weight: bold;
}

.text__down {
    color: var(--standard-grey);
}

.website__footer {
    text-align: center;
    padding: 2em 0;
    background-color: var(--dark-background);
    color: var(--standard-grey);
}

.sign__up--offer {
    border: 2px solid var(--standard-white);
}

.about__content--div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
}

.about__content--div__end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

form {
	margin: 40px 0;
}

form label, .textoContato {
	display:  block;
	font-size: 20px;
	margin: 0 0 10px;
}

.inputStandard {
	display:  block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox {
	margin: 20px 0;
}

.send {
	width: 20%;
	padding: 15px 0;
	background: var(--blue-button);
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 0.5s all;
	cursor: pointer;
}